@model CustomerDashboardViewModel
 
@{
    ViewBag.Title = "Service History";
    Layout = "_Layout2";
    var i = -1;
}

<!-- Service Histoey-->
<section class="service-history">
    <div class="upcoming-service-details">
        <div class="container">
            <div id="upcoming-service-menu-table" class="d-flex">
                <div class="container-menu">
                    <div class="navbar">
                        <ul id="upcoming-service-menu" class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" asp-action="CustomerDashboard" asp-controller="Customer">Dashboard</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link">Service History</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Service Schedule</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Favourite Pros</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Invoices</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Notifications</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="container-details text-center">
                    <div class="title d-flex justify-content-between">
                        <h3>Service History</h3>
                        <button class="blue">Export</button>
                    </div>
                    <table id="Data" class="table mb-3">
                        <thead>
                            <tr>
                                <th>Service Id</th>
                                <th>Service details</th>
                                <th>Service Provider</th>
                                <th class="text-center">Payment</th>
                                <th class="text-center">Status</th>
                                <th class="text-center">Rate SP</th>
                            </tr>
                        </thead>
                        <tbody>
                                @if (Model.services != null)
                                {
                                    @foreach (var x in Model.services)
                                    {
                                        i += 1;
                                        @if(x.Status != null && x.Status != 0)
                                        {
                                            <tr id="service">
                                                <td>@x.ServiceId</td>
                                                <td class="table-item-2">
                                                    <span>
                                                        <img src="~/image/calendar2.png" alt="Sort">
                                                        <b>@String.Format("{0:dd/MM/yyyy}",x.ServiceStartDate)</b>
                                                    </span>
                                                    <br>
                                                    <span>
                                                        <img src="~/image/layer-14.png" alt="Sort">
                                                        @x.ServiceStartDate.ToString("HH:mm") -
                                                        @Model.serviceEnd[i].ToString("HH:mm")
                                                    </span>
                                                </td>

                                                <td class="rating">
                                                    @if (x.ServiceProviderId != null)
                                                    {
                                                        <div class="rating d-flex">
                                                            <img class="image4" src="~/image/cap.png" alt="Sort">
                                                            <div class="r-details d-flex flex-column">
                                                                <p>@Model.spName[i]</p>
                                                                <div class="star d-flex">
                                                                    <img src="~/image/star1.png" alt="">
                                                                    <img src="~/image/star1.png" alt="">
                                                                    <img src="~/image/star1.png" alt="">
                                                                    <img src="~/image/star1.png" alt="">
                                                                    <img src="~/image/star2.png" alt="">
                                                                    @if(Model.rate[i] != 0)
                                                                    {
                                                                        <p>@Model.rate[i]</p>
                                                                    }
                                                                    else
                                                                    {
                                                                        <p>4</p>
                                                                    }
                                                            </div>
                                                            </div>
                                                        </div>
                                                    }
                                                </td>

                                                <td>
                                                    <span id="Price"><p>@x.TotalCost &euro;</p></span>
                                                </td>
                                                <td class="button table-btn-2 text-center">
                                                    @if (x.Status == 1)
                                                    {
                                                        <button class="green">Completed</button>
                                                    }
                                                    else
                                                    {
                                                        <button class="pink">Cancelled</button>
                                                    }
                                                </td>
                                                <td class="button table-btn text-center">
                                                    @if(x.Status == 1)
                                                    {
                                                        <a  data-bs-toggle="modal" data-bs-target="#RateSP">
                                                            <button class="blue" id="rate_@x.ServiceRequestId">Rate SP</button>
                                                        </a>

                                                        
                                                    }
                                                    else
                                                    {
                                                        <button class="blue" disabled>Rate SP</button>
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    }
                                }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="RateSP" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close-btn" data-bs-dismiss="modal" aria-label="Close"><img
                        src="~/image/close.png"></button>
                
                <div class="rating">
                    <div class="rating d-flex">
                        <img class="image4" src="~/image/cap.png" alt="Sort">
                        <div class="r-details d-flex flex-column">
                            <p class="mb-1 text-start">Jo   hn Doe</p>
                            <div class="star d-flex">
                                <img id="1" src="~/image/star2.png" alt="">
                                <img id="2" src="~/image/star2.png" alt="">
                                <img id="3" src="~/image/star2.png" alt="">
                                <img id="4" src="~/image/star2.png" alt="">
                                <img id="5" src="~/image/star2.png" alt="">
                                <p id="totalRate">0</p>
                            </div>
                        </div>
                    </div>
                </div>
                <h3 class="text-start">Rate your service provider</h3>
                <hr>
                <div class="d-flex">
                    <p>On time arrival</p>
                    <div id="OnTime" class="rating-star star d-flex">
                        <img id="star1" name="2" src="~/image/star2.png" alt="">
                        <img id="star2" name="2" src="~/image/star2.png" alt="">
                        <img id="star3" name="2" src="~/image/star2.png" alt="">
                        <img id="star4" name="2" src="~/image/star2.png" alt="">
                        <img id="star5" name="2" src="~/image/star2.png" alt="">
                    </div>
                </div>
                <div class="d-flex">
                    <p>Friendly</p>
                    <div id="friendly" class="rating-star rating-star-1 star d-flex">
                        <img id="star1" name="2" src="~/image/star2.png" alt="">
                        <img id="star2" name="2" src="~/image/star2.png" alt="">
                        <img id="star3" name="2" src="~/image/star2.png" alt="">
                        <img id="star4" name="2" src="~/image/star2.png" alt="">
                        <img id="star5" name="2" src="~/image/star2.png" alt="">
                    </div>
                </div>
                <div class="d-flex">
                    <p>Quality of service</p>
                    <div id="quality" class="rating-star rating-star-2 star d-flex">
                        <img id="star1" name="2" src="~/image/star2.png" alt="">
                        <img id="star2" name="2" src="~/image/star2.png" alt="">
                        <img id="star3" name="2" src="~/image/star2.png" alt="">
                        <img id="star4" name="2" src="~/image/star2.png" alt="">
                        <img id="star5" name="2" src="~/image/star2.png" alt="">
                    </div>
                </div>
                <label class="form-label text-start">Feedback on your service provider</label>
                <div class="mb-3">
                    <textarea id="cmt" type="text" class="form-control" rows="2"></textarea>
                </div>
                <button type="button" id="SaveRatting" class="text-start blue">Submit</button>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script>
        $(document).ready(function(){
            var x =[0,0,0];   
            var p = 0;
            let sId = 0;
            function mainRating(){
                var b = parseInt($('#totalRate').text());
                console.log(b);
                if(b <= 1)
                {
                    $('#1').attr('src','/image/star1.png');
                    $('#2').attr('src','/image/star2.png');
                    $('#3').attr('src','/image/star2.png');
                    $('#4').attr('src','/image/star2.png');
                    $('#5').attr('src','/image/star2.png');
                }
                else if(b <= 2)
                {
                    $('#1').attr('src','/image/star1.png');
                    $('#2').attr('src','/image/star1.png');
                    $('#3').attr('src','/image/star2.png');
                    $('#4').attr('src','/image/star2.png');
                    $('#5').attr('src','/image/star2.png');
                }
                else if(b <= 3)
                {
                    $('#1').attr('src','/image/star1.png');
                    $('#2').attr('src','/image/star1.png');
                    $('#3').attr('src','/image/star1.png');
                    $('#4').attr('src','/image/star2.png');
                    $('#5').attr('src','/image/star2.png');
                }
                else if(b <= 4)
                {
                    $('#1').attr('src','/image/star1.png');
                    $('#2').attr('src','/image/star1.png');
                    $('#3').attr('src','/image/star1.png');
                    $('#4').attr('src','/image/star1.png');
                    $('#5').attr('src','/image/star2.png');
                }
                else if(b <= 5)
                {
                    $('#1').attr('src','/image/star1.png');
                    $('#2').attr('src','/image/star1.png');
                    $('#3').attr('src','/image/star1.png');
                    $('#4').attr('src','/image/star1.png');
                    $('#5').attr('src','/image/star1.png');
                }
            };

            $('#OnTime').click(function(){
                rating($(this),0);
            });

            $('#friendly').click(function(){
                rating($(this),1);
            });

            $('#quality').click(function(){
                rating($(this),2);
            });

            function rating(a,i)
            {
                $('#star1',a).click(function(){
                    if($(this).attr('name') == 2)
                    {
                        $('#star1',a).attr('src','/image/star1.png');
                        $(this).attr('name','1');
                        x[i]+=1;
                    }
                    else
                    {
                        $('#star1',a).attr('src','/image/star2.png');
                        $(this).attr('name','2');
                        x[i]-=1;
                    }
                    p = ((x[0]+x[1]+x[2])/3).toFixed(2);
                    $('#totalRate').html(p);
                    mainRating();
                    $('#star2',a).click(function(){
                        if($(this).attr('name') == 2)
                        {
                            $('#star2',a).attr('src','/image/star1.png');
                            $(this).attr('name','1');
                            x[i]+=1;
                        }
                        else
                        {
                            $('#star2',a).attr('src','/image/star2.png');
                            $(this).attr('name','2');
                            x[i]-=1;
                        }
                        p = ((x[0]+x[1]+x[2])/3).toFixed(2);
                        $('#totalRate').html(p);
                        mainRating();
                        $('#star3',a).click(function(){
                            if($(this).attr('name') == 2)
                            {
                                $('#star3',a).attr('src','/image/star1.png');
                                $(this).attr('name','1');
                                x[i]+=1;
                            }
                            else
                            {
                                $('#star3',a).attr('src','/image/star2.png');
                                $(this).attr('name','2');
                                x[i]-=1;
                            }
                            p = ((x[0]+x[1]+x[2])/3).toFixed(2);
                            $('#totalRate').html(p);
                            mainRating();
                            $('#star4',a).click(function(){
                                if($(this).attr('name') == 2)
                                {
                                    $('#star4',a).attr('src','/image/star1.png');
                                    $(this).attr('name','1');
                                    x[i]+=1;
                                }
                                else
                                {
                                    $('#star4',a).attr('src','/image/star2.png');
                                    $(this).attr('name','2');
                                    x[i]-=1;
                                }
                                p = ((x[0]+x[1]+x[2])/3).toFixed(2);
                                $('#totalRate').html(p);
                                mainRating();
                                $('#star5',a).click(function(){
                                    if($(this).attr('name') == 2)
                                    {
                                        $('#star5',a).attr('src','/image/star1.png');
                                        $(this).attr('name','1');
                                        x[i]+=1;
                                    }
                                    else
                                    {
                                        $('#star5',a).attr('src','/image/star2.png');
                                        $(this).attr('name','2');
                                        x[i]-=1;
                                    }
                                    p = ((x[0]+x[1]+x[2])/3).toFixed(2);
                                    $('#totalRate').html(p);
                                    mainRating();
                                });
                            });
                        });
                    });
                });
            }

            $("[id^='rate_']").click(function(){
                var a = $(this).prop('id');
                console.log(a);
                sId = a.split('_')[1];
            });

            $('#SaveRatting').click(function(){
                console.log(sId);
                let rateModel = {
                    ServiceRequestId: sId,
                    RatingFrom: 0,
                    RatingTo : 0,
                    Ratings: p,
                    Comments: $('#cmt').val(),
                    OnTimeArrival: x[0],
                    Friendly: x[1],
                    QualityOfService: x[2] 
                }
                console.log(rateModel);

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Ratting","Customer")',
                    data: rateModel,
                    dataType: 'JSON',
                    success: function (response){
                        if(response.success){
                            $('#RateSP').modal('hide');
                            location.reload(true);
                        }
                    }
                });
            });
        });
    </script>
}

